{% extends "@app_theme/Layout/base.html.twig" %}

{% block title %}SlashworksBackendBundle:Dashboard:index{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Welcome to the Dashboard:index page</h1>
        </div>
    </div>
{% endblock %}
