<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block pagetitle %}Control - Contao Monitoring Tool{% endblock %}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:400,700">
    {#<link href="css/bootstrap.min.css" rel="stylesheet">#}
    {#<link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">#}
    {#<link href="css/sb-admin-2.css" rel="stylesheet">#}
    {#<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">#}

    {% stylesheets
    '@SlashworksBackendBundle/Resources/public/css/bootstrap.min.css'
    '@SlashworksBackendBundle/Resources/public/css/plugins/metisMenu/metisMenu.min.css'
    '@SlashworksBackendBundle/Resources/public/css/plugins/dataTables.responsive.css'
    '@SlashworksBackendBundle/Resources/public/css/sb-admin-2.css'
    '@SlashworksBackendBundle/Resources/public/css/*'
    '@SlashworksBackendBundle/Resources/public/css/plugins/*'
    '@SlashworksBackendBundle/Resources/public/css/animate.css'
    output='css/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block css_theme_head %}{% endblock %}

    {% block css_head %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block js_head %}{% endblock %}
</head>
<body class="control">
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand logo" href="/">

                {% image '@SlashworksAppBundle/Resources/public/images/logo.png' %}
                <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}
                <div class="floatblock">
                    {% block app_title %}
                        <span class="name">control</span>
                        <span class="version">Contao Monitoring</span>
                    {% endblock %}
                </div>

            </a>
        </div>
        {% if is_granted('ROLE_USER') %}
            {% include "@app_theme//Layout/usermenu.html.twig" %}
        {% endif %}
    </nav>
    <div id="page-wrapper" {% if is_granted('ROLE_USER') == false %}style="margin:0 !important;"{% endif %}>
        <div class="container-fluid" >
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<div id="ajax-loader" style="display:none;">
    {% image '@SlashworksBackendBundle/Resources/public/images/load.gif' %}
        <img src="{{ asset_url }}" alt="Bitte warten" />
    {% endimage %}
</div>
{% javascripts
'@SlashworksBackendBundle/Resources/public/js/jquery.js'
'@SlashworksBackendBundle/Resources/public/js/jquery-ui.min.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/dataTables/jquery.dataTables.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/dataTables/dataTables.bootstrap.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/dataTables/dataTables.responsive.js'
'@SlashworksBackendBundle/Resources/public/js/bootstrap.min.js'
'@SlashworksBackendBundle/Resources/public/js/bootstrap.growl.min.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/metisMenu/metisMenu.min.js'
'@SlashworksBackendBundle/Resources/public/js/sb-admin-2.js'
'@SlashworksBackendBundle/Resources/public/js/jquery-gentleSelect-min.js'
'@SlashworksBackendBundle/Resources/public/js/jquery-cron-min.js'
'@SlashworksBackendBundle/Resources/public/js/plugins/chosen.jquery.min.js'
output='js/main.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block js_theme_footer %}{% endblock %}
{% block js_footer %}{% endblock %}
<script>
    $(document).ready(function(){
        $(".chosen-select").chosen();
    });
</script>
</body>
</html>